:root {
  --color-background: #fdfdfd;
  --color-foreground: #333;
  --color-href: dodgerblue;
  --color-pre-background: #f4f4f4;
  --color-muted: #777;
  --color-article-separator: #ddd;
  --border-radius: 0.3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #333333;
    --color-foreground: #fdfdfd;
    --color-href: tomato;
    --color-pre-background: #111;
    --color-muted: #aaa;
    --color-article-separator: #555;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: serif;
  font-size: 14px;
  line-height: 1.6;
  word-spacing: .05em;
  width: 90%;
  margin: 0 auto;
}

p > code {
  padding: .2rem .3rem;
}

pre, code {
  font-size: .9rem;
  color: var(--color-muted);
  background: var(--color-pre-background);
  border-radius: var(--border-radius);
}

pre {
  padding: 1rem;
  overflow: auto;
}

a {
  text-decoration: none;
  color: var(--color-href);
}

a:hover {
  text-decoration: underline;
}

body > header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2rem
}

nav {
  color: var(--color-muted);
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    width: 50%;
    font-size: 16px;
  }

  body > header {
    align-items: center;
    flex-direction: row;
  }

  nav {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1920px) {
  body {
    width: 40%;
  }
}

article + article {
  margin-top: 4rem;
}

article + hr {
  border-bottom: .15rem dashed var(--color-article-separator);
  width: 100%;
  outline: 0;
  background: transparent;
  color: transparent;
  margin: 4rem 0;
}

article header {
  padding-bottom: 1.5rem;
}

article > header > * {
  display: inline-block;
}

article header h2 {
  margin: 0;
}

article section {
  margin: -1rem 0;
}

article figure {
  background: var(--color-pre-background);
  margin: 0;
  padding: 1rem;
  display: block;
  border-radius: var(--border-radius);
}

article figure img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

article figure figcaption {
  padding-top: 1rem;
  font-size: .8rem;
  text-align: center;
  color: var(--color-muted);
}

footer {
  color: var(--color-muted);
  font-size: .8rem;
  margin-bottom: 2rem;
  margin-top: -2rem;}
